<!DOCTYPE html>
<html>
<head>
    <title>기본 예제 테스트</title>
</head>
<body>
    <form id = "Form" action="/form" method="post">
        <table border="1" width="400">
            <tr>
                <th>이름</th>
                <td><input type="text" name="name" id="name" size="10" maxlength="10"></td>
            </tr>
            <tr>
                <th>블로그</th>
                <td><input type="text" name="blog" id="blog" size="20" maxlength="20"></td>    
            </tr>
            <tr>
                <th>홈페이지</th>
                <td><input type="text" name="homepage" id="homepage" size="20" maxlength="20"></td>
            </tr>
            <tr>
                <th>전송</th>
                <td><input type="submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>
